#insmod serial
#serial --speed=115200 --unit=0 --word=8 --parity=no --stop=1
#terminal_input console serial
#terminal_output console serial

echo "[grub.cfg] begin"

if [ -s (${root})/EFI/ubuntu/grubenv ]; then
	echo "[grub.cfg] grubenv detected"
	load_env -f (${root})/EFI/ubuntu/grubenv
fi

if [ "${installerfslabel}" != "" -a "${recovery_type}" != "factory_restore" ]; then
    echo "[grub.cfg] installer mode"
    search --no-floppy --set installer_device --label "${installerfslabel}"
    echo "[grub.cfg] installer_device: ${installer_device}"
    if [ "${installer_device}" != "" ]; then
        # if boot from installer, override recovery_type and recovery_label
	    set recovery_type='headless_installer'
	    set recovery_label=$installerfslabel
    fi
fi

echo "[grub.cfg] recovery_type: ${recovery_type}"
echo "[grub.cfg] recovery_label: ${recovery_label}"

if [ "${recovery_type}" = "" ]; then
	# load normal system
	echo "[grub.cfg] load normal system"
	set prefix=($root)'/EFI/ubuntu'
	configfile $prefix/grub.cfg
else
	# load recovery system
	echo "[grub.cfg] load ${recovery_type} system"
	search --no-floppy --set --label "${recovery_label}"
	echo "[grub.cfg] root: ${root}"
	set cmdline="recovery=LABEL=${recovery_label} ro init=/lib/systemd/systemd console=tty1 panic=-1 fixrtc -- recoverytype=${recovery_type} recoverylabel=${recovery_label} snap_core=${recovery_core} snap_kernel=${recovery_kernel}"
	echo "[grub.cfg] loading kernel..."
	linuxefi ($root)/$recovery_kernel/kernel.img $cmdline
	echo "[grub.cfg] loading initrd..."
	initrdefi ($root)/$recovery_kernel/initrd.img
	echo "[grub.cfg] boot..."
	boot
fi
